include ../../components/main/recent/featured
include ../../components/main/recent/item

section.ftco-section
  .container
    .row
      .col-md-7.heading-section.ftco-animate
        h2.mb-4
          span Recent Stories
    .row
      .col-md-6.order-md-last.col-lg-6.ftco-animate
        +featured(recent)
      .col-md-6
        .row
          each post in recents
            +recent(post)
