extends ../../layouts/default

block content
  section.ftco-section.ftco-no-pb.contact-section
    .container
      .row.block-9
        .col-md-6.d-flex
          .row
            h1 404 Not found page
            p
              | Something went wrong. If you're sure you didn't mistype the address you wish to visit, we're working on it. Otherwise definitely not.
            h1 &nbsp;
        .col-md-6.order-md-last.d-flex
