footer.ftco-footer.ftco-footer-2.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Stories
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='#')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Information
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Terms of Uses
            li
              a.py-2.d-block(href='#') About Stories
            li
              a.py-2.d-block(href='#') Privacy Policy
            li
              a.py-2.d-block(href='#') Accessibility Help
            li
              a.py-2.d-block(href='#') Advertise with us
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Categories
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Food
            li
              a.py-2.d-block(href='#') Restaurant
            li
              a.py-2.d-block(href='#') Dessert
            li
              a.py-2.d-block(href='#') Lifestyle
            li
              a.py-2.d-block(href='#') Recipes
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Have a Questions?
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                span.text 203 Fake St. Mountain View, San Francisco, California, USA
              li
                a(href='#')
                  span.icon.icon-phone
                  span.text +2 392 3929 210
              li
                a(href='#')
                  span.icon.icon-envelope
                  span.text info@yourdomain.com
    .row
      .col-md-12.text-center
        p
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.icon-heart.color-danger(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com' target='_blank' rel='nofollow') Colorlib
