mixin comment(comment)
  li.comment
    .vcard.bio
      img(
        src= comment.author.avatar
        alt= comment.author.name
      )
    .comment-body
      h3= comment.author.name
      .meta= comment.postedAt
      p
        = comment.comment
      p
        a.reply(href='#') Reply
