form#login-form.bg-light.p-5.contact-form
  .form-group
    input#login-form-email.form-control(type='email' placeholder='Enter your email')
    small.form-text.text-danger.text-center
  .form-group
    input#login-form-password.form-control(type='text' placeholder='Enter your password')
    small.form-text.text-danger.text-center
  .form-group
    button#login-form-submit.btn.btn-primary.py-3.px-5 Enter
