extends ../../../layouts/default

block append scripts
  script(src= asset('/js/log-in.js'))

block content
  section.ftco-section.ftco-no-pb.contact-section
    .container
      .row.block-9
        .col-md-6.d-flex
          .row
            h1= title
            p
              | Feet evil to hold long he open knew an no. Apartments occasional boisterous as solicitude to introduced. Or fifteen covered we enjoyed demesne is in prepare. In stimulated my everything it literature. Greatly explain attempt perhaps in feeling he. House men taste bed not drawn joy. Through enquire however do equally herself at. Greatly way old may you present improve. Wishing the feeling village him musical. 
        .col-md-6.order-md-last.d-flex
          include _form
