section.hero-wrap.hero-wrap-2(style=`background-image: url(${asset('/images/bg_4.jpg')});`)
  .overlay
  .container
    .row.no-gutters.slider-text.align-items-end.justify-content-center
      .col-md-9.ftco-animate.pb-5.text-center
        h1.mb-3.bread Article Single
        p.breadcrumbs
          span.mr-2
            a(href='index.html')
              | Home 
              i.ion-ios-arrow-forward
          span
            | Article Single
            i.ion-ios-arrow-forward
