extends ../../layouts/default

block content
  section.hero-wrap.hero-wrap-2(style=`background-image: url("${asset('/images/bg_3.jpg')}");`)
    .overlay
    .container
      .row.no-gutters.slider-text.align-items-end.justify-content-center
        .col-md-9.ftco-animate.pb-5.text-center
          h1.mb-3.bread= title
