form#register-form.bg-light.p-5.contact-form
  .form-group
    input#register-form-name.form-control(type='text' placeholder='Enter your name')
    small.form-text.text-danger.text-center
  .form-group
    input#register-form-email.form-control(type='email' placeholder='Enter your email')
    small.form-text.text-danger.text-center
  .form-group
    input#register-form-password.form-control(type='text' placeholder='Enter your password')
    small.form-text.text-danger.text-center
  .form-group
    button#register-form-submit.btn.btn-primary.py-3.px-5 Create my account
