extends ../../../layouts/default

block append scripts
  script(src= asset('/js/sign-up.js'))

block content
  section.ftco-section.ftco-no-pb.contact-section
    .container
      .row.block-9
        .col-md-6.d-flex
          .row
            h1= title
            p
              | Doubtful two bed way pleasure confined followed. Shew up ye away no eyes life or were this. Perfectly did suspicion daughters but his intention. Started on society an brought it explain. Position two saw greatest stronger old. Pianoforte if at simplicity do estimating. 
              br
              | Perceived end knowledge certainly day sweetness why cordially. Ask quick six seven offer see among. Handsome met debating sir dwelling age material. As style lived he worse dried. Offered related so visitor we private removed. Moderate do subjects to distance. 
        .col-md-6.order-md-last.d-flex
          include _form
